{% extends "base.html" %}

{% block head %}

{# <script src="/static/js/d3/d3.min.js"></script> #}
{# <script type="text/javascript" src="{{ STATIC_URL }}js/myd3visscr.js"></script> #}
<script type="text/javascript" src="{{ STATIC_URL }}js/mysigma.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sigmajs/sigma.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sigmajs/plugins/sigma.parsers.json.min.js"></script>

<style type="text/css">
  #sigma-container {
    max-width: 800px;
    height: 600px;
    margin: auto;
  }
</style>
{% endblock head %}


{% block body %}

<div id="devmap">
	{# <svg width="400" height="300"> </svg> #}
</div>

<div id="sigma-container"> </div>

<div id="jsondata">{% autoescape off %}{{ jsondata }}{% endautoescape %}</div>

{% autoescape off %}{{x}}{% endautoescape %}

{% endblock body %}