{% extends "base.html" %}

{% block head %}
    <script src="/static/js/d3/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/myd3visscr.js"></script>
{% endblock head %}

{% block body %}
	<div>
		<header>
			<h1>Scanner</h1>
		</header>
		<nav>
			<p>
				<a href="/">Home</a>
			</p>
			<p>
				<a href="/contact">Contact</a>
			</p>
		</nav>
		<div>
			{% load crispy_forms_tags %}
			{% crispy form %}
		</div>

		<div id="rect-demo"> </div>

		<footer>
			<p>
				&copy; Copyright  by Gerasimos Melissaratos
			</p>
		</footer>
	</div>


{% endblock body %}
