{% extends "base.html" %}

{% block body %}
	<div>
		<header>
			<h1>Scanner</h1>
		</header>
		<nav>
			<p>
				<a href="/">Home</a>
			</p>
			<p>
				<a href="/contact">Contact</a>
			</p>
		</nav>
		<div>
			{% load crispy_forms_tags %}
			{% crispy form %}
		</div>

		<div id="rect-demo">
			<svg width="400" height="300">
			</svg>
		</div>

		{% autoescape off %}{{x}}{% endautoescape %}

		<footer>
			<p>
				&copy; Copyright  by Gerasimos Melissaratos
			</p>
		</footer>
	</div>


{% endblock body %}
